:root {}

body {
    background-image: url("../img/background.png");
}

.header {
    background-color: rgba(122, 123, 123, 0.4);
    border: 1px solid rgba(104, 105, 105, 0.2);
    margin-bottom: 30px;
    .logo {
        padding: 0;
        h1 {
            color: #000000;
            font-size: 30px;
            margin-left: 10px;
        }
    }
    .navlink {
        display: flex;
        justify-content: flex-end;
        &__link {
            color: #000000;
            font-size: 17px;
            font-weight: 600;
            margin: 6px;
        }
    }
    .active {
        text-decoration: underline;
    }
    @media screen and (max-width: 780px) {
        .logo {
            h1 {
                margin: 0;
                text-align: center;
            }
        }
        .navlink {
            justify-content: center;
        }
    }
}

.inputs {
    input {
        margin: 0px 5px;
        outline-color: rgb(124, 150, 115);
    }
}

.user-card {
    background-color: rgba(96, 110, 103, 0.753);
    border: 1px solid rgb(104, 116, 110);
    border-radius: 10px;
    padding: 8px;
    margin: 10px;
    figure {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__name {
        display: block;
        text-align: center;
        margin-bottom: 6px;
    }
    &__desc {
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 5;
        /* number of lines to show */
        -webkit-box-orient: vertical;
        word-wrap: break-word;
    }
}